# Скопируйте в .env и заполните значения:
# cp .env.example .env

DATABASE_CONNECTION_STRING=Username=postgres;Password=YOUR_PASSWORD;Host=195.208.118.188;Port=5434;Database=filedb;

GITEA_BASE_URL=http://195.208.118.188:3000/api/v1
GITEA_ACCESS_TOKEN=your_gitea_token
GITEA_OWNER=renam
